<div class="side-by-side-container">
    <section class="main-box">
        <h2 class=titlebar>纏流子</h2>
        <div class="content">
            <img src="{{site.baseurl}}/assets/img/girls/ryuko/x346.png">
        </div>
    </section>
    <section class="main-box">
        <h2 class=titlebar>忍野忍</h2>
        <div class="content">
            <img src="{{site.baseurl}}/assets/img/girls/shinobu/x346.png">
        </div>
    </section>
    <section class="main-box">
        <h2 class=titlebar>鈴香様</h2>
        <div class="content">
            <img src="{{site.baseurl}}/assets/img/girls/suzuka/x346.png">
        </div>
    </section>
    <section class="main-box">
        <h2 class=titlebar>ユピエル様</h2>
        <div class="content">
            <img src="{{site.baseurl}}/assets/img/girls/yupiel/x346.png">
        </div>
    </section>
    <section class="main-box">
        <h2 class=titlebar>アシュリー</h2>
        <div class="content">
            <img src="{{site.baseurl}}/assets/img/girls/ashley/x346.png">
        </div>
    </section>
    <section class="main-box">
        <h2 class=titlebar>桐葉</h2>
        <div class="content">
            <img src="{{site.baseurl}}/assets/img/girls/kiriha/x346.png">
        </div>
    </section>
    <section class="main-box">
        <h2 class=titlebar>ホロ</h2>
        <div class="content">
            <img src="{{site.baseurl}}/assets/img/girls/holo/x346.png">
        </div>
    </section>
    <section class="main-box">
        <h2 class=titlebar>とがめ</h2>
        <div class="content">
            <img src="{{site.baseurl}}/assets/img/girls/togame/x346.png">
        </div>
    </section>
    <section class="main-box">
        <h2 class=titlebar>スイレン</h2>
        <div class="content">
            <img src="{{site.baseurl}}/assets/img/girls/suiren/x346.png">
        </div>
    </section>
    <section class="main-box">
        <h2 class=titlebar>伊吹萃香</h2>
        <div class="content">
            <img src="{{site.baseurl}}/assets/img/girls/suika/x346.png">
        </div>
    </section>
    <section class="main-box">
        <h2 class=titlebar>酒呑童子</h2>
        <div class="content">
            <img src="{{site.baseurl}}/assets/img/girls/shuten/x346.png">
        </div>
    </section>
    <section class="main-box">
        <h2 class=titlebar>惣流アスカラングレー</h2>
        <div class="content">
            <img src="{{site.baseurl}}/assets/img/girls/asuka/x346.png">
        </div>
    </section>
    <section class="main-box">
        <h2 class=titlebar>シロ</h2>
        <div class="content">
            <img src="{{site.baseurl}}/assets/img/girls/shiro/x346.png">
        </div>
    </section>
    <section class="main-box">
        <h2 class=titlebar>仙狐</h2>
        <div class="content">
            <img src="{{site.baseurl}}/assets/img/girls/senko/x346.png">
        </div>
    </section>
    <section class="main-box">
        <h2 class=titlebar>牧瀬紅莉栖</h2>
        <div class="content">
            <img src="{{site.baseurl}}/assets/img/girls/kurisu/x346.png">
        </div>
    </section>
    <section class="main-box">
        <h2 class=titlebar>ナナヨ</h2>
        <div class="content">
            <img src="{{site.baseurl}}/assets/img/girls/nanayo/x346.png">
        </div>
    </section>
    <section class="main-box">
        <h2 class=titlebar>めぐみん</h2>
        <div class="content">
            <img src="{{site.baseurl}}/assets/img/girls/megumin/x346.png">
        </div>
    </section>
</div>