<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title> wlckd. </title>
	<meta name="description" content="my personal site">
	<link rel="icon" href="assets/img/favicon.png">
	<script src="./assets/scripts/playAudio.js"></script>

</head>

<body class="home">
	<link rel="stylesheet" href="assets/css/styles.css">

		<header class="wrapper-header">
			<h1 class="title"><a href="index.html">wlckd.d3gn.net</a></h1>

			<nav class="wrapper-nav">
				<ul>
				{% for link in site.data.navigation %}
					<li> <a href="{{ link.url }}">{{ link.title }}</a> </li>
				{% endfor %}
				</ul>
			</nav>
		</header>

		<main class="wrapper-main">
		{% for post in site.posts %}
			{% if post.categories contains 'blog' %}
				<section class="full-box">
					<h2 class=titlebar><a href="{{ post.url }}">{{ post.title}}</a>
						<span class="post-date">{{ post.date | date: "%Y-%m-%d" }}</span>
					</h2>
					<div class="content">
						{{post.content}}
					</div>
				</section>
			{% endif %}
		{% endfor %}
		</main>
	</div>
	<footer class="wrapper-footer">
		wlckd 2024 | 私のコンピューターで動作は保証付きです。
	</footer>
</body>

</html>