<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title> wlckd. </title>
	<meta name="description" content="my personal site">
	<link rel="icon" href="./assets/img/favicon.png">
	<script src="./assets/scripts/playAudio.js"></script>
</head>

<body class="home">
	<link rel="stylesheet" href="assets/css/styles.css">

	<header class="wrapper-header">
		<h1 class="title playAudio" data-audio="./assets/audio/wicked.opus"> {{ site.name }} </h1>

		<nav class="wrapper-nav">
			<ul>
				{% for link in site.data.navigation %}
				<li> <a href="{{ link.url }}">{{ link.title }}</a> </li>
				{% endfor %}
			</ul>
		</nav>
	</header>

	<main class="wrapper-main">
		{% for post in site.posts %}
		{% if post.categories contains 'blog' %}
		<section>
			<h2 class=titlebar><a href="{{ post.url }}">{{ post.title}}</a>
				<span class="post-date">{{ post.date | date: "%Y年%m月%d日" }} ({{ post.date | date: "%u" | replace: "1",
					"月" | replace: "2", "火" | replace: "3", "水" | replace: "4", "木" | replace: "5", "金" | replace: "6",
					"土" | replace: "7", "日" }})</span>
			</h2>
			<div class="content">
				{{post.content}}
			</div>
		</section>
		{% endif %}
		{% endfor %}
	</main>
	</div>
	<footer class="wrapper-footer">
		wlckd 2024 | 私のコンピューターで動作は保証付きです。
	</footer>
</body>

</html>