{% include /sections/header.html %}
	<div class="wrapper-middle">
		{% include /sections/aside.html %}
		<main class="wrapper-main">
				{% if page.permalink == "/" %}
					{%include /pages/home.html %}
				{% endif %}

				{% if page.permalink == "/blog/" %}
					{% include /pages/blog.html %}
				{% endif %}

				{% if page.permalink == "/404.html" %}
					{% include /pages/404.html %}
				{% endif %}

				{% if page.permalink == "/girls/" %}
					{% include /pages/girls.html %}
				{% endif %}

				{{content}}
		</main>
	</div>
{% include /sections/footer.html %}